* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

nav, footer {
  padding: 2% 0;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  background-image: url('https://static1.squarespace.com/static/5217d0f5e4b07c5692c2b65c/t/598ea595f9a61edf2e24270d/1502520728112/coverbanner-03.png?format=2500w');
  height: 500px;
  background-attachment: scroll;
  background-position: center;
}

section {
  background-color: #bbb;
  min-height: 400px;
  padding: 6% 0;
}

section:nth-child(even) {
  background-color: #ddd;
}
