* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

nav, footer {
  padding: 20px 0;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-bar * {
  display: inline-block;
}

.nav-bar {
  max-width: 1000px;
  margin: auto
}

.nav-main-name {
  letter-spacing: 3px;
  font-size: 25px;
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto
}

.nav-main-name:hover {
  cursor: pointer;
}

.nav-mail-icon {
  float: left;
}

.nav-mail-icon-item {
  font-size: 22px;
}

.nav-mail-icon-item:hover {
  opacity: 0.5 !important;
  transition: 0.4s !important
}

.nav-mail-icon-item a {
  color: #505050;
}

.nav-icons {
  float: right
}

.nav-icon-item {
  padding-right: 16px;
}

.nav-icon-item:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  transition: 0.4s !important
}

.nav-icon-item a {
  color: #505050;
  text-decoration: none;
}

.nav-icon-text {
  padding: 0 8px;
  font-size: 15px;
}

.nav-mail-icon-text {
  padding: 0 12px;
  font-size: 15px;
  vertical-align: middle
}

.hidden-nav-icon-item {
  padding-right: 10px;
}

.hidden-nav-icon-item a {
  color: #505050;
}

.hidden-nav-icon-item:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  transition: 0.4s !important
}

.last-hidden {
  margin-right: 30px
}

main {
  background-color: #f7f7f7
}

header {
  background-image: url('./images/portfolio-banner-new.png');
  height: 500px;
  background-position: center;
}

/* HIDDEN NAV BAR */

.hidden-nav-bar {
  position: fixed;
  margin-top: -10px;
  background-color: white;
  z-index: 9;
  width: 100%;
  text-align: center;
  border-top: 2px solid silver;
  border-bottom: 1px solid #ececec
}

.hidden-nav-bar * {
  display: inline-block;
  margin: 4px 20px;
  text-align: center;
  padding: 0;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.hidden-nav-bar *:hover {
  color: silver;
  transition: 0.4s
}

/* DIVIDERS */

.section-divider {
  width: 70%;
  margin: auto
}

.application-divider {
  margin: 35px auto;
  opacity: 0.4;
  width: 75%
}

.footer-divider {
  width: 100%;
}

/* SECTIONS */

.section-icon {
  padding-right: 10px;
  margin-right: 20px
}

.work-section-title, .skills-section-title, .about-section-title {
  margin-bottom: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 45px
}

section {
  min-height: 400px;
  padding: 60px 0;
}

.section-container {
  max-width: 1000px;
  text-align: left;
  margin: auto;
  padding: 0 60px
}

/* WORK SECTION */

.app-section {
}

.application-title {
  font-weight: normal;
  font-size: 28px;
}

.application-image {
  display: inline-block;
  height: 280px;
}

.application-image, .skill-technology-icon {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.application-image:hover, .skill-technology-icon:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.demo-github {
  margin-left: 30px;
  font-size: 17px;
  vertical-align: middle;
}

.demo-github a {
  color: black;
  text-decoration: none;
}

.demo-github a:hover {
  color: silver;
  transition: 0.1s
}

figure {
	width: 480px;
	height: 280px;
	margin: 20px;
	padding: 0;
	background: #fff;
	overflow: hidden;
  display: inline-block;
}

.application-details {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin-top: 40px;
  margin-right: 115px;
  font-weight: normal;
  font-size: 18px;
  text-align: right
}

.application-details li {
  padding: 7px 0
}

.application-description {
  font-size: 20px;
  font-weight: lighter
}

/* SKILLS SECTION */

.skill-icon {
  float: left;
  margin: 10px 38px 5px 20px;
  color: #444
}

.skill-title {
  font-weight: normal;
  font-size: 28px
}

.skill-section {
  background-color: #e0e0e0;
  margin: 24px 0;
  padding: 35px;
  border-radius: 5px;
  position: relative;
  overflow: hidden
}

.skill-section:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  width: 0;
  border-width: 20px;
  border-color: #f7f7f7 #f7f7f7 rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
  border-radius: 0 0 0 5px;
  transition: border-width 0.75s;
}

.skill-section:hover:before {
  border-width: 0px;
}

.skill-list {
  padding: 10px 0
}

.skill-list li {
  list-style-type: none;
  display: inline-block;
  background-color: white;
  margin: 6px 5px;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: normal
}

.skill-description {
  padding: 10px 0;
  font-weight: lighter
}

.front-end-icons, .back-end-icons, .development-icons {
  text-align: center
}

.front-end-icons img {
  height: 55px;
  margin: 25px 10px 0 10px;
  filter: grayscale(1);
}

.node-icon, .mongodb-icon {
  height: 40px;
  margin: 25px 15px 0 15px;
  filter: grayscale(1);
}

.express-icon {
  height: 30px;
  margin: 25px 15px 0 15px;
}

.development-icons img {
  height: 40px;
  margin: 25px 15px 0 15px;
  filter: grayscale(1);
}

/* ABOUT SECTION */

.about-section-icon {
  margin-right: 25px;
  margin-top: 35px;
}

.about-title {
  display: inline-block;
  font-weight: normal;
  padding-top: 20px;
  font-size: 28px
}

.about-section {
  box-shadow: inset 0 0 10px silver;
  padding: 15px 50px;
  margin: 15px 0;
  border-radius: 6px;
}

.about-description {
  padding: 20px 0;
  font-weight: lighter
}

/* INSTAGRAM FEED */

#instagram-feed {
  padding: 0;
  min-height: 0;
  max-width: 1000px;
  margin: 0 auto 80px auto
}

.instagram-feed-title {
  padding: 10px 0 20px 0
}

#instafeed img {
  margin: 0 2px;
  height: 170px;
  width: 170px;
}

/* FOOTER */

.footer-container {
  max-width: 1000px;
  text-align: left;
  margin: auto;
  padding: 20px 60px 0 60px;
  opacity: 0
}

.social-media-icons {
  padding: 20px 0;
  display: inline-block;
}

.social-media-icons a {
  color: #505050;
  margin-right: 5px
}

.social-media-icons a:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s
}

.footer-main-name {
  padding: 30px 0;
  font-size: 16px;
  letter-spacing: 1px
}

.scroll-up-arrow {
  display: inline-block;
  float: right;
  padding: 10px 0
}

.scroll-up-arrow:hover {
  cursor: pointer
}

.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 3.25s infinite linear;
	-o-animation: pulse 3.25s infinite linear;
	-webkit-animation: pulse 3.25s infinite linear;
	animation: pulse 3.25s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.hidden {
  display: none
}

@media only screen and (max-width: 575px) {
  nav {
    position: static;
    height: 65px
  }

  header {
    background-size: 540px;
    height: 180px;
    background-position-y: 170px !important;
    opacity: 1 !important
  }

  .hidden-nav-bar {
    display: none
  }

  .nav-mail-icon-text {
    display: none !important
  }

  .nav-mail-icon {
    padding-left: 20px
  }

  .nav-icon-text {
    display: none
  }

  .nav-icon-item {
    padding-right: 12px
  }

  .second-last-icon-item {
    padding-right: 5px
  }

  figure {
    display: block;
    margin: 25px auto;
    width: 95%;
    height: 95%
  }

  .demo-github {
    display: block;
    margin: 0
  }

  #work, #skills, #about {
    padding: 40px 0
  }

  .work-section-title, .skills-section-title, .about-section-title {
    margin-bottom: 30px;
    text-align: center
  }

  .application-image {
    display: inline-block;
    width: 100%;
    height: 100%
  }

  .application-details {
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .application-details li {
    padding: 2px 0;
  }

  .application-description {
    font-size: 19px;
  }

  .front-end-icons img, .back-end-icons img, .development-icons img {
    filter: grayscale(0);
  }

  .front-end-icons img {
    height: 48px;
    margin: 25px 5px 0 5px;
  }

  .back-end-icons .node-icon, .back-end-icons .mongodb-icon {
    display: inline-block;
    height: 35px;
  }

  .back-end-icons .express-icon {
    display: inline-block;
    height: 25px;
  }

  .skill-icon {
    margin-top: 2px
  }

  .skill-section {
    background-color: #ced2de
  }

  .skill-list {
    padding: 20px 0 5px 0
  }

  .skill-list li {
    font-size: 16px;
    margin: 4px 2px
  }

  .skill-description {
    font-size: 19px
  }

  .front-end-skill-section {
    padding: 30px
  }

  .application-details {
    display: block;
    float: none
  }

  .section-container {
    padding: 0 15px
  }

  .about-section {
    padding: 15px 40px
  }

  .about-description {
    font-size: 19px
  }

  .footer-container {
    text-align: center
  }

  .scroll-up-arrow {
    position: absolute;
    right: 50px
  }

  .instafeed a:nth-child(n+5)  {
    display: none
  }

  .footer-container {
    opacity: 1 !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 900px) {
  .nav-mail-icon {
    left: 8%
  }

  .nav-mail-icon-text {
    display: none
  }

  .nav-icon-text {
    display: none
  }

  .nav-icons {
    margin-right: 2%;
  }

  .nav-icon-item {
    opacity: 1 !important;
    display: inline-block !important;
  }

  .hidden-nav-icon-item {
    display: none !important;
  }

  header {
    background-size: cover;
    height: 370px;
  }

  .demo-github {
    float: right
  }

  #work, #skills, #about {
    padding: 40px 0
  }

  #work {
    padding-bottom: 50px
  }

  .work-section-title, .skills-section-title, .about-section-title {
    margin-bottom: 30px
  }

  figure {
    display: block;
    margin: 25px auto
  }

  .application-details {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .application-details li {
    padding: 4px 0;
  }

  .application-details li:first-child {
    padding-top: 0px
  }

  .section-container {
    padding: 0 40px
  }

  .front-end-icons img, .back-end-icons img, .development-icons img {
    filter: grayscale(0);
  }

  .skill-section {
    background-color: #ced2de
  }

  .skill-list li {
    margin: 4px 2px
  }
}
