* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}

nav, footer {
  padding: 20px 0;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav * {
  display: inline-block;
}

.nav-main-name {
  letter-spacing: 3px;
  font-size: 25px
}

.nav-main-name:hover {
  cursor: pointer;
}

.nav-icons {
  position: absolute;
  right: 50px;
}

.nav-icon-item {
  padding-right: 16px;
}

.nav-icon-item:hover {
  cursor: pointer;
  opacity: 0.5 !important;
  transition: 0.4s !important
}

.nav-icon-item a {
  color: #505050;
  text-decoration: none;
}

.nav-icon-text {
  padding: 0 8px;
  font-size: 15px;
}

header {
  background-image: url('https://static1.squarespace.com/static/5217d0f5e4b07c5692c2b65c/t/598ea595f9a61edf2e24270d/1502520728112/coverbanner-03.png?format=2500w');
  height: 600px;
  background-position: center;
}

hr {
  width: 70%;
  margin: auto
}

hr:last-of-type {
  width: 100%
}

.section-icon {
  padding-right: 15px;
}

section {
  min-height: 400px;
  padding: 60px 0;
}

.section-container {
  max-width: 1000px;
  text-align: left;
  margin: auto;
  padding: 0 60px
}

.section-title {
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 40px
}

.footer-container {
  max-width: 1000px;
  text-align: left;
  margin: auto;
  padding: 20px 60px 0 60px;
  opacity: 0
}

.social-media-icons {
  padding: 20px 0;
  display: inline-block;
}

.social-media-icons a {
  color: #505050;
  margin-right: 5px
}

.social-media-icons a:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s
}

.footer-main-name {
  padding: 30px 0;
  font-size: 16px;
  letter-spacing: 1px
}

.scroll-up-arrow {
  display: inline-block;
  float: right;
  padding: 10px 0
}

.scroll-up-arrow:hover {
  cursor: pointer
}

.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 3.25s infinite linear;
	-o-animation: pulse 3.25s infinite linear;
	-webkit-animation: pulse 3.25s infinite linear;
	animation: pulse 3.25s infinite linear;
}
@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@media only screen and (max-width: 575px) {
  .nav-icons {
    display: none
  }
}

@media only screen and (min-width: 576px) and (max-width: 900px) {
  .nav-icon-text {
    display: none
  }
}
